obj
bin
Bin
_ReSharper.*
*.csproj.user
*.dbproj.user
*.resharper.user
*.resharper
*.5.0.ReSharper.user
*.5.1.ReSharper.user
*.5.0.ReSharper
*.suo
*.cache
*~
*.swp
*.swo
*.orig
*.ReSharper.user
Coverage.Log
PrecompiledWeb
*.dbproj.user
*.dbmdl
*.5.1.ReSharper
*.schemaview
*.sln.docstates
*.vs10x
/LaunchAdmin3.0/Source/LaunchAdminClient/Plugins/*.*
*.DotSettings.user
/Web/aspnet_client
user_connectionstrings.config
*.mswwsettings
_Re[sS]harper*
*.suo
*.user
*.DS_Store
packages
